<%= link "New Post", to: post_path(@conn, :new), class: "new-post" %>

<%= for post <- @posts do %>
  <article class="post">
    <h1><%= post.title %></h1>
    <div class="body"><%= raw html_body(post) %></div>
    <%= link "Edit Post", to: post_path(@conn, :edit, post), class: "edit-post" %>
    <%= button "Delete Post", to: post_path(@conn, :delete, post),
                              method: :delete, class: "delete-post" %>
  </article>
<% end %>
